/*** Universal ***/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

:root {
	--spacecadet: #28283e;
	--lavender: #e7dada;
	--melon: #e8aea2;
	--lightermelon: #f3d4ce;
	--transparency: rgba(255, 255, 255, 0.3);
	--sans: 'Assistant', sans-serif;
	--mono: 'DM Mono', monospace;
}

body {
	font: 400 18px/1.5 var(--sans);
	color: var(--spacecadet);
	background-color: var(--lavender);
}

/*** main sections ***/

footer,
header {
	position: fixed;
	width: 100%;
	padding: 10px;
}

footer {
	background: linear-gradient(180deg, var(--lavender) 0%, var(--melon) 100%);
	bottom: 0;
}

section,
main,
.border {
	background-color: var(--transparency);
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px var(--spacecadet) solid;
	width: 40%;
	box-shadow: 0 5px 3px var(--melon);
}

main {
	margin-top: 110px;
}

/*** button ***/

main button {
	--transparency: var(--melon);
	color: var(--spacecadet);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 300ms ease;
}

main button:hover {
	--transparency: var(--lavender);
	font-weight: 700;
}

main button:active {
	--transparency: var(--lightmelon);
	color: var(--melon);
}

input {
	display: block;
}

/***number area ***/

.result {
	width: 80%;
}
/*** text ***/
h1,
#number {
	font-weight: 700;
	color: var(--spacecadet);
}

h1 {
	font-size: 24px;
}

#number {
	font-size: 50px;
	font-family: var(--mono);
}

h3 {
	background-color: var(--lightermelon);
}

/*** icons ***/
.ph-heart-fill {
	vertical-align: text-bottom;
}

.ph-calculator-fill {
	font-size: 29px;
	color: var(--melon);
	vertical-align: text-bottom;
}
