/***universal styles***/
* {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}

:root {
	--spacecadet: #28283e;
	--lavender: #e7dada;
	--melon: #e8aea2;
	--lightermelon: #f3d4ce;
	--venetian: #c04848;
	--transparency: rgba(255, 255, 255, 0.3);
	--sans: Assistant, sans-serif;
	--mono: "DM Mono", monospace;
}
body {
	font: 400 19px/1.7 var(--sans);
	color: var(--spacecadet);
	background-color: var(--lavender);
}

footer {
	position: fixed;
	width: 100%;
	padding: 5px;
	background: linear-gradient(180deg, var(--lavender) 0 var(--melon) 100%);
	bottom: 0;
	font-size: 1rem;
}

header {
	position: relative;
	display: block;
}

section,
main,
.border {
	display: inline-block;
	border-radius: 38px;
	background: linear-gradient(145deg, #f0e9e9, #fae5e1);
	box-shadow: 10px 10px 30px var(--melon), -10px -10px 30px var(--lavender);
	border: 1px var(--lavender) solid;
	width: 65%;
	margin: 12px;
	padding: 12px;
}

.small-width {
	width: 40%;
}

.width,
.large-width {
	width: 80%;
}

@media only screen and (min-width: 1150px) {
	.small-width {
		width: 40%;
	}

	.width {
		width: 40%;
	}

	.large-width {
		width: 40%;
	}
}

/***buttons***/

button {
	color: var(--spacecadet);
	font-weight: 700;
	text-transform: uppercase;
	transition: 300ms ease;
	font-size: 14px;
	border-radius: 38px;
	background-color: var(--lightermelon);
	box-shadow: 0 5px 5px var(--melon), -1px -1px 10px var(--lightermelon);
	border: 1px var(--lavender) solid;
	margin: 12px;
	padding: 15px;
}

button:hover {
	color: var(--venetian);
	background-color: var(--melon);
	font-weight: 700;
}

button:active {
	box-shadow: inset 10px 10px 20px var(--melon), 5px 5px 20px var(--lightermelon);
}

input {
	display: block;
}

.result {
	width: 80%;
}

/***text***/

h1,
#number {
	font-weight: 700;
	color: var(--spacecadet);
}

h1 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

#number {
	font-size: 50px;
	font-family: var(--mono);
}

h3 {
	border-radius: 38px;
	background: linear-gradient(145deg, var(--melon), #f0c4bb);
	text-transform: uppercase;
	color: var(--spacecadet);
	margin-bottom: 0.5rem;
}

h3:not(:first-child) {
	margin-top: 0.5rem;
}

.ph-heart-fill,
.ph-calculator-fill {
	vertical-align: text-bottom;
}

.ph-calculator-fill {
	font-size: 29px;
	color: var(--melon);
	margin: 0 10px;
}
