/***universal styles***/
* {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}

:root {
	--spacecadet: #28283e;
	--lavender: #e7dada;
	--melon: #e8aea2;
	--lightermelon: #f3d4ce;
	--transparency: rgba(255, 255, 255, 0.3);
	--sans: Assistant, sans-serif;
	--mono: "DM Mono", monospace;
}

body {
	font: 400 19px/1.7 var(--sans);
	color: var(--spacecadet);
	background-color: var(--lavender);
}

footer,
header {
	position: fixed;
	width: 100%;
	padding: 10px;
}

footer {
	background: linear-gradient(180deg, var(--lavender) 0 var(--melon) 100%);
	bottom: 0;
}

section,
main,
.border {
	background-color: var(--transparency);
	display: inline-block;
	border-radius: 10px;
	border: 1px var(--spacecadet) solid;
	width: 40%;
	box-shadow: 0 5px 3px var(--melon);
	margin: 12px;
	padding: 15px;
}

main {
	margin-top: 120px;
}

/***buttons***/

button {
	--transparency: var(--melon);
	color: var(--spacecadet);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 300ms ease;
}

button:hover {
	--transparency: var(--lavender);
	font-weight: 700;
}

button:active {
	--transparency: var(--lightmelon);
	color: var(--melon);
}

input {
	display: block;
}

.result {
	width: 80%;
}

/***text***/

h1,
#number {
	font-weight: 700;
	color: var(--spacecadet);
}

h1 {
	font-size: 24px;
}

#number {
	font-size: 50px;
	font-family: var(--mono);
}

h3 {
	background-color: var(--lightermelon);
	margin-bottom: 0.5rem;
}

h3:not(:first-child) {
	margin-top: 0.5rem;
}

.ph-heart-fill,
.ph-calculator-fill {
	vertical-align: text-bottom;
}

.ph-calculator-fill {
	font-size: 29px;
	color: var(--melon);
}
